.card {
  margin-top: 5%;
}

#card_products {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  border-radius: 5px;
}

#product_name {
  cursor: pointer;
}
#product_name span:hover {
  color: blue;
}
